<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{name}}'s First Angular Project
  </h1>
  <img width="300" alt="Angular Logo" src="https://cdn.mos.cms.futurecdn.net/8gzcr6RpGStvZFA2qRt4v6.jpg">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>{{itemList[0]}}</h2>
</li>

<li>
  <h3> {{itemList[1]}}</h3>
</li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h3>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.youtube.com/">YouTube</a></h2>
  </li>
  
</ul>
<p> The rectangle has a length {{rectangle.length}} cm, a width of {{rectangle.width}} cm, and an area {{rectangle.area()}} cm^2.</p>

